* {
  padding: auto;
}

header {
  background-color: #f8f9fa; /* Light gray background */
  padding: 10px; /* Padding around the content */
  text-align: center; /* Center the text */
  /*font-size: 1.5em; /* Make the text larger */
  position:sticky; 
  top:0;
  }

footer {
  text-align: center; /* Center the text */
}

#nav-menu-dropdown {
  float: left;
}

#nav-links ul {
  list-style-type: none; /* Remove the bullets */
  margin: 0; /* Remove the margins */
  padding: 0; /* Remove the padding */
  overflow: hidden; /* Add overflow:hidden to contain floated li elements */
}

#nav-links ul li {
  float: left; /* Float the li elements to get them to appear next to each other */
}

#nav-links ul li a {
  display: block; /* Make the links block elements */
  text-align: center; /* Center the text */
  padding: 14px 16px; /* Add some padding */
  text-decoration: none; /* Remove the underline */
}

#nav-menu-search {
  float: right;
}

#header_h1 {
  margin: 0;
  /*font-size: 1.5em;*/
  font-weight: bold;
  text-align: center;
}

#nav-links {
  text-transform: uppercase;
  /*display: inline-block;*/
  display: none; /* Hide the nav element initially */
}



.parallax {
  /* The image used */
  background-image: url("media/pawel-czerwinski-hw6Dh3R7yxA-unsplash.jpg");

  /* Set a specific height and width */
  min-height: 100vh; 
  width: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Control parallax speed */
  background-position: 50% 0;
  transition: background-position 0.5s ease-in-out;
}

.section {
  padding: 20px;
  background-color: blanchedalmond;
  text-align: left;
  box-sizing: border-box;
  border: solid 5px transparent; /* Initial border */
  animation: drawBorder 4s ease-out;
}

.content {
  padding: 20px;
  background-color: #f8f9fa;
  margin: 0;
  /*font-size: 1em;*/
  font-weight: bold;
  text-align: center;
}

.section-content {
  display: none;
}

.tab-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.grid-item {
  padding: 20px;
  text-align: left;
  grid-gap: 20px; /* This adds a 20px gap between grid items */
}



.collapsible {
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    /*font-size: 15px;*/
    margin-bottom: 10px; /* Adjust as needed */
  }
  
  .active, .collapsible:hover {
    background-color: gainsboro;
  }
  
  .collapsible::before {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    /*font-size: 13px;*/
    color: white;
    float: right;
    margin-left: 5px;
  }
  
  .active::before {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  /*font-size: 17px;*/
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  /*display: none;*/
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  text-align: left;
}

/* Text slide-in animation 

.slide-in-text {
  animation: slide 2s ease-out;
}

@keyframes slide {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0); }
}*/

@keyframes drawBorder {
  0% { border: 2px solid rgba(0, 0, 0, 0); } /* Start with a transparent border */
    25% { border: 2px solid rgba(0, 0, 0, 1); } /* Fully opaque border */
    50% { border: 2px solid rgba(0, 0, 0, 1); } /* Hold the fully opaque border */
    75% { border: 2px solid rgba(0, 0, 0, 0); } /* Transition back to transparent */
    100% { border: 2px solid rgba(0, 0, 0, 0); } /* End with a transparent border */
}

svg circle {
  fill: transparent !important;
}

.grid-container{
  user-select: auto;
  position: relative;
  display:grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto;
  padding: 20px;
  overflow:scroll;
}

.grid-item {
  margin: 0;
  box-sizing: content-box;
  position: relative;
  padding:20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width:fit-content;
  height:fit-content;
}

.grid-item.hidden {
  display: none;
}

.grid-item:nth-child(1), .grid-item:nth-child(2) {
  grid-row: 1;
}

.grid-item:nth-child(3) {
  grid-row: 2;
  grid-column: 4;
}

.grid-item:nth-child(4) {
  grid-row: 2;
  grid-column: 5;
}
.grid-item:nth-child(5) {
  grid-row: 3;
  grid-column: 4;
}

.grid-item:nth-child(6) {
  grid-row: 4;
  grid-column: 4;
}

.grid-item:nth-child(7) {
  grid-row: 3;
  grid-column: 5;
}

.grid-item:nth-child(8) {
  grid-row: 4;
  grid-column: 5;
}

.grid-item:nth-child(9) {
  grid-row: 5;
  grid-column: 1;
}

.grid-item:nth-child(9), .grid-item:nth-child(10) {
  grid-row: 5;
}

.grid-item:nth-child(1), .grid-item:nth-child(9) { 
  grid-column: 1;
}

.grid-item:nth-child(2), .grid-item:nth-child(10) { 
  grid-column: 6;
}


.line {
  stroke:rgb(255,0,0);
  stroke-width:20
   
}


.section-intro {
  width: fit-content;
  height: fit-content;
}

.section-intro-container {
  justify-content:space-evenly;
}
/* GRID CONTAINER PROPERTIES */

/* GRID ITEM CHILD POSITIONS */

.section-break {
  grid-column: span 7;
  height: 2px;
  background: black; /* Change this to the color you want */
}

.small-box {
  border: 1px solid black;
  padding:10px;
  border-radius: 10px;
  margin:20px;
}

/* SECTION NR AND TITLE */
.section-nr {
  font-size: 40px;
  padding: 10px;
  color: black;
  align-self: flex-start; /* overrides central alignment */
}

.section-title {
  font-size: 20px;
  background: white;
  border: double;
  height:fit-content;
  border-radius: 10px;
}

.section-nr, .section-title {
  grid-column: 1;
  padding:10px;
  margin: 0; /* removes the default margin */
}


.grid-table-container {
  /*background: white;*/
  border-style: dashed;
  border-width: 2px;
  border-color: black;
  padding:10px;
  /*width: fit-content;*/
  border-radius: 10px;
  text-align: center;
}

tr {
  display:table-row;
  /*padding: 20px;*/
}

td {  
  border: 1px solid black;
  padding: 5px;
  border-radius: 10px;
}

/*#grid-3-2, #grid-4-2, #grid-5-2 {
  width: fit-content;
}*/

/*TOOLTIP*/

/* Tooltip container */
.tooltip {
  position: relative;
  /*display: inline-block;*/
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  animation: pulse 2s infinite;
}


/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  /*width: 120px;*/
  background-color: #555;
  color: #fff;
  text-align: center;
  /*padding: 5px 0;*/
  border-radius: 6px;
  padding: 10px;
  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
  width: 300px;
  
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  /*border-width: 5px;*/
  /*border-style: solid;*/
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  animation: none;
}

.tooltip.viewed {
  animation: none;
}

.top {
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 100%; /* Place the tooltip above the text */
  left: 50%;
  /*margin-left: -60px; /* Use half of the width to center the tooltip */
}

.top::after {
  position: absolute;
  top: 100%; /* Below the tooltip */
  left: 50%;
  /*margin-left: -5px;*/
}

.right {
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: 0; /* Align with the middle of the element */
  left: 100%; /* Place the tooltip to the right of the element */
  margin-left: 20px; /* Add some space between the element and the tooltip */
}

.right::after {
  position: absolute;
  top: 0; /* Align with the middle of the tooltip */
  left: 100%; /* Place the arrow on the left side of the tooltip */
  /*margin-top: -5px; /* Use half of the height to center the arrow */
  margin-left: 20px;
}

.left {
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: 0; /* Align with the middle of the element */
  right: 100%; /* Place the tooltip to the right of the element */
  margin-right: 20px; /* Add some space between the element and the tooltip */
}

.left::after {
  position: absolute;
  top: 0; /* Align with the middle of the tooltip */
  right: 0; /* Place the arrow on the left side of the tooltip */
  /*margin-top: -5px; /* Use half of the height to center the arrow */
}

/* CUSTOM COLORING*/

.extracted {
  border: 1px dashed;
}

#li-el table td:not([id]), #kk-el table td:not([id]) {
  /* Add your styles here */
  opacity: 0.5;
}

#lv-el table td, #lv-el button:after, [id*="gk-lv"], #lv-el table {
  background: #fec541;
}

#au-el table td, #au-el button:after, [id*="gk-au"] {
  background: #ff9933;
}

#li-el table td, #li-el button:after, [id*="gk-li"] {
  background: #ccff99;
}

#kk-el table td, #kk-el button:after, [id*="gk-kk"] {
  background: #32ccf4;
}

#gk-el button:after {
    background: linear-gradient(to right, #fec541, #36d484, #32ccf4, #ffcc99); /* adjust as needed */
}

/* CUSTOM BUTTON BY JOE BOCOCK VIA CSS SCAN */

.button-52 {
  font-size: 30px;
  /*font-weight: 200;*/
  letter-spacing: 1px;
  padding: 10px;/*13px 20px 13px;*/
  margin: 20px;
  width: fit-content;
  height: fit-content;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  /*user-select: none;
  -webkit-user-select: none;*/
  touch-action: manipulation;
  border-radius: 10px;
}

.button-52:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
  border-radius: 10px;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 10px;/*13px 50px 13px;*/
  }
}

/* Hide all td elements by default */
td {
  display: none;
}

.special-open {
  opacity: 0;
  transition: opacity 5s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

/*svg {
  position: absolute;
  z-index: 1000;
}*/


/* author: kent Chang begins */
.interactive-timeline-wrap {
  background-color: #fff;
  margin: 0 auto;
  font-size: 12px; }

.pres-timeline {
  font-family: roboto, helvetica, sans-serif;
  font-size: 12px;
  color: #4A4A4A;
  width: 100%;
  margin: 30px 0; }
  .pres-timeline > div > div {
    padding: 1em 0;
    box-sizing: border-box; }
  .pres-timeline .periods-container, .pres-timeline .cards-container {
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    min-height: 100px;
    transition: height .5s ease-in-out;
    background-color: #FFF; }

.periods-container:before {
  background-image: linear-gradient(left, #FFF, rgba(248, 248, 248, 0));
  left: 0;
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100%;
  width: 100px; }

.periods-container:after {
  background-image: linear-gradient(right, #FFF, rgba(248, 248, 248, 0));
  right: 0;
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100%;
  width: 100px; }

.periods-container .btn-back, .periods-container .btn-next {
  display: inline-block;
  width: 15%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  z-index: 10;
  transition: 0.3s ease-in-out; }
  .periods-container .btn-back:hover, .periods-container .btn-next:hover {
    background-color: rgba(0, 0, 0, 0.05); }
  .periods-container .btn-back.hide, .periods-container .btn-next.hide {
    display: none; }

.periods-container .btn-back {
  left: 0; }

.periods-container .btn-next {
  right: 0; }

.periods-container section {
  width: 70%;
  height: 0;
  position: absolute;
  margin-left: 15%;
  border-bottom: 5px solid #dfe3e6;
  padding: 1.5em;
  box-sizing: border-box;
  transition: transform .3s ease-in-out, opacity .2s ease, height .3s ease;
  bottom: 0;
  opacity: 0;
  background-color: #fff; }
  .periods-container section.active {
    height: auto;
    opacity: 1;
    transform: translateX(0);
    z-index: 5; }
    .periods-container section.active .title, .periods-container section.active p {
      display: block; }
  .periods-container section.prev {
    height: auto;
    opacity: 0.4;
    transform: translateX(-100%);
    z-index: 0; }
    .periods-container section.prev .year {
      text-align: right; }
  .periods-container section.next {
    height: auto;
    opacity: 0.4;
    transform: translateX(100%);
    z-index: 0; }
  .periods-container section .year {
    font-size: 20px;
    font-weight: 400; }
  .periods-container section .title {
    color: #4A4A4A;
    font-size: 28px;
    font-weight: 400;
    display: none; }
  .periods-container section p {
    display: none; }

.timeline-container {
  position: relative;
  width: 100%;
  height: 50px;
  overflow: hidden; }
  .timeline-container:before {
    background-image: linear-gradient(left, #FFF, rgba(248, 248, 248, 0));
    left: 0;
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    height: 100%;
    width: 100px; }
  .timeline-container:after {
    background-image: linear-gradient(right, #FFF, rgba(248, 248, 248, 0));
    right: 0;
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    height: 100%;
    width: 100px; }
  .timeline-container .timeline {
    position: absolute;
    display: block;
    height: 50px;
    transition: left .3s ease-in-out; }
    .timeline-container .timeline ol {
      display: block;
      width: 100%;
      height: 2px;
      background-color: #dfe3e6;
      list-style: none;
      padding-left: 210px;
      padding-right: 300px; }
      .timeline-container .timeline ol li {
        display: inline-block;
        padding: 5px;
        margin-top: -11px;
        margin-left: 80px;
        border-radius: 50%;
        border: 3px solid #7f9298;
        background-color: #FFF;
        position: relative;
        cursor: pointer;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); }
        .timeline-container .timeline ol li.active {
          box-shadow: none; }
        .timeline-container .timeline ol li.active:before {
          content: "";
          display: block;
          height: 25px;
          width: 1px;
          position: absolute;
          top: -25px;
          transition: opacity .3s ease-in-out; }
        .timeline-container .timeline ol li.active:after {
          content: "";
          display: block;
          height: 25px;
          width: 1px;
          position: absolute;
          bottom: -25px;
          transition: opacity .3s ease-in-out; }
  .timeline-container .btn-back, .timeline-container .btn-next {
    display: inline-block;
    position: absolute;
    cursor: pointer;
    margin-top: -2px;
    z-index: 11;
    transition: all .3s ease; }
    .timeline-container .btn-back.hide, .timeline-container .btn-next.hide {
      display: none; }
    .timeline-container .btn-back:hover, .timeline-container .btn-next:hover {
      border-color: #7f9298; }
  .timeline-container .btn-back {
    left: 1em; }
  .timeline-container .btn-next {
    right: 1em; }

.cards-container:before {
  background-image: linear-gradient(left, #FFF, rgba(248, 248, 248, 0));
  left: 0;
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100%;
  width: 100px; }

.cards-container:after {
  background-image: linear-gradient(right, #FFF, rgba(248, 248, 248, 0));
  right: 0;
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100%;
  width: 100px; }

.cards-container section {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  position: absolute;
  margin-left: 15%;
  margin-bottom: 2em;
  border: 1px solid #f5f7f6;
  padding: 1.5em;
  box-sizing: border-box;
  transition: transform .3s ease-in-out;
  top: 0;
  opacity: 0;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15); 
}


.content {
  padding: 30px;
}
  .cards-container section.active {
    height: auto;
    opacity: 1;
    transform: translateX(0);
    z-index: 5; }
  .cards-container section.prev {
    height: auto;
    opacity: 0.4;
    transform: translateX(-105%);
    z-index: 0; }
  .cards-container section.next {
    height: auto;
    opacity: 0.4;
    transform: translateX(105%);
    z-index: 0; }
  .cards-container section .year {
    text-align: center;
    /*font-size: 16px;*/
    margin: 0; 
/*position: absolute;*/}


  .cards-container section .title {
    font-weight: 400; }
  .cards-container section img {
    width: 100%; }
/* author: kent Chang ends */


/* SWIPER STYLES */

#swiper-nav-wrapper {
  flex-direction: row;
}

#swiper-nav-grid {
  display:grid;
  background: white;
  position: absolute; /* Position the grid absolutely within the wrapper */
    top: 50%; /* Center the grid vertically */
    left: 50%; /* Center the grid horizontally */
    transform: translate(-50%, -50%); /* Offset the grid by half its width and height to truly center it */

}

.swiper-nav-grid-item:nth-child(1) {
  grid-row: 1;
  grid-column: 1;
}

.swiper-nav-grid-item:nth-child(2) {
  grid-row: 1;
  grid-column: 2;
}

.swiper-nav-grid-item:nth-child(3) {
  grid-row: 1;
  grid-column: 3;
}

.swiper-nav-grid-item:nth-child(4) {
  grid-row: 2;
  grid-column: span 3;
}

.swiper-button-next, .swiper-button-prev, .swiper-pagination, #swiper-nav-wrapper, .swiper-wrapper {
  position: relative !important;
}

.swiper-button-next {
  background: url('media/svg/arrow-narrow-left-svgrepo-com.svg') no-repeat center;
  margin-left: 40px !important;
}

.swiper-button-prev {
  background: url('media/svg/arrow-narrow-left-svgrepo-com.svg') no-repeat center;
  margin-right: 40px !important;
}

#slide-nr {
  margin-left:20px;
  font-size: 40px;
}

#swiper-nav-wrapper, .swiper-slide-content {
  background: yellow;
}

.swiper-slide-content, footer {
  justify-content: center;
}

#swiper-nav-wrapper, .swiper-slide-content, footer {
  display:flex;
}

.swiper-container, #swiper-nav-wrapper, #swiper-nav-grid {
  padding:20px;
}
