h1, h2 {
  padding: auto;
}

header {
  background-color: #f8f9fa; /* Light gray background */
  padding: 10px; /* Padding around the content */
  text-align: center; /* Center the text */
  /*font-size: 1.5em; /* Make the text larger */
  position:sticky; 
  top:0;
}

footer {
  text-align: center; /* Center the text */
}

#nav-menu-dropdown {
  float: left;
}

#nav-links ul {
  list-style-type: none; /* Remove the bullets */
  margin: 0; /* Remove the margins */
  padding: 0; /* Remove the padding */
  overflow: hidden; /* Add overflow:hidden to contain floated li elements */
}

#nav-links ul li {
  float: left; /* Float the li elements to get them to appear next to each other */
}

#nav-links ul li a {
  display: block; /* Make the links block elements */
  text-align: center; /* Center the text */
  padding: 14px 16px; /* Add some padding */
  text-decoration: none; /* Remove the underline */
}

#nav-menu-search {
  float: right;
}

#header_h1 {
  margin: 0;
  /*font-size: 1.5em;*/
  font-weight: bold;
  text-align: center;
}

#nav-links {
  text-transform: uppercase;
  /*display: inline-block;*/
  display: none; /* Hide the nav element initially */
}

.swiper-pagination {
  position: sticky;
  top: 0; /* Adjust as needed */
  z-index: 1; /* Ensure the pagination is above other content */
  /* Add your other styles here */
}

.parallax {
  /* The image used */
  background-image: url("media/pawel-czerwinski-hw6Dh3R7yxA-unsplash.jpg");

  /* Set a specific height and width */
  min-height: 100vh; 
  width: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Control parallax speed */
  background-position: 50% 0;
  transition: background-position 0.5s ease-in-out;
}

.section {
  padding: 20px;
  background-color: blanchedalmond;
  text-align: left;
  box-sizing: border-box;
  border: solid 5px transparent; /* Initial border */
  animation: drawBorder 4s ease-out;
}

.content {
  padding: 20px;
  background-color: #f8f9fa;
  margin: 0;
  /*font-size: 1em;*/
  font-weight: bold;
  text-align: center;
}

.tab-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.grid-item {
  padding: 20px;
  text-align: left;
  grid-gap: 20px; /* This adds a 20px gap between grid items */
}

/*#content-1 {
  background-color: blanchedalmond;
}

#content-2 {
  background-color: thistle;
}

#section-1 {
  text-align: left;
}

#section-3 {
  background-color: lightcyan;
}

#section-4 {
  background-color: lightgoldenrodyellow;
}

#section-5 {
  background-color: lightgrey;
}
*/

.swiper-button-next, .swiper-button-prev {
  color: red; /* Change the color of the buttons */
  top: 50%; /* Position the buttons in the middle of the Swiper container */
}

.swiper-pagination {
  bottom: 10px; /* Position the pagination at the bottom of the Swiper container */
}


.collapsible {
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    /*font-size: 15px;*/
    margin-bottom: 10px; /* Adjust as needed */
  }
  
  .active, .collapsible:hover {
    background-color: gainsboro;
  }
  
  .collapsible::before {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    /*font-size: 13px;*/
    color: white;
    float: right;
    margin-left: 5px;
  }
  
  .active::before {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  /*font-size: 17px;*/
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  text-align: left;
}

.slide-in-text {
  animation: slide 2s ease-out;
}

/* Text slide-in animation */
@keyframes slide {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0); }
}

@keyframes drawBorder {
  0% { border: 2px solid rgba(0, 0, 0, 0); } /* Start with a transparent border */
    25% { border: 2px solid rgba(0, 0, 0, 1); } /* Fully opaque border */
    50% { border: 2px solid rgba(0, 0, 0, 1); } /* Hold the fully opaque border */
    75% { border: 2px solid rgba(0, 0, 0, 0); } /* Transition back to transparent */
    100% { border: 2px solid rgba(0, 0, 0, 0); } /* End with a transparent border */
}