<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Marielin Kepp – Projektide leht</title>
    <meta name="description" content="Projektide leht">
    <meta name="author" content="Marielin Kepp">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
</head>
<body>
    <header>
        <i id="nav-menu-dropdown" class="fa-solid fa-bars"></i>
        <nav id="nav-links">
            <ul>
                <li><a href="../index.html" id="index-link">Avaleht</a></li>
                <li><a href="" id="projects-page-link">Projektid</a></li>
                <li><a href="./cv.html" id="cv-page-link">CV</a></li>
                <li><a href="./contact.html" id="contact-page-link">Kontakt</a></li>
            </ul>
        </nav>
        <h1 id="header_h1">Marielin Kepp</h1>
        <i id="nav-menu-search" class="fa-solid fa-magnifying-glass"></i>
    </header>

    <main id="main" class="parallax">
        <h1>Loodusvaatluste andmebaasi kirjete analüüs</h1>
        <div class="swiper-container">
            <!-- Add navigation buttons -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
    
            <!-- Add pagination and scrollbar -->
            <div class="swiper-pagination"></div>
            
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    
                    <div id="section-1" class="section">
                        <!--<button type="button" class="collapsible"><h2>1. Uurimisküsimus</h2></button>-->
                        <div class="tab-grid">
                            <div class="grid-item" id="content-1">
                                <h2>1. Uurimisküsimus</h2>
                                <p>Käesoleva töö eesmärgiks oli uurida muutusi loodusvaatluste sisestamises vahemikus 2000-2023.</p>
                                <button type="button" class="collapsible"><p>Püstitatud on järgmised algsed hüpoteesid:</p></button>
                                <div class="content">
                                    <ul>
                                        <li>H1: Loodusvaatluste sisestamine on aastate vältel järjest suurenenud</li>
                                        <li>H2: Vaatlusi sisestatakse kindlatel aegadel (aastaaeg/kuu/nädalapäev) rohkem</li>
                                        <li>H3: Looduvaatluste sisestamine erineb maakonniti</li>
                                        <li>H4: Vaadeldavad isendid erinevad piirkonniti mõnevõrra</li>
                                    </ul>
                                </div>
                                <button type="button" class="collapsible"><p>Eesmärgist lähtuvalt on püstitatud järgmised uurimisküsimused:</p></button>
                                <div class="content">
                                    <ul>
                                        <li>K1: Kas loodusvaatluste sisestamine on aastate vältel järjest suurenenud?</li>
                                        <li>K2: Kas vaatlusi sisestatakse kindlatel aegadel (aastaaeg/kuu/nädalapäev) rohkem?</li>
                                        <li>K3: Kas loodusvaatluste sisestamine erineb maakonniti?</li>
                                        <li>K4: Kas vaadeldavad isendid erinevad piirkonniti? Kui jah, siis millisel määral ja millisel taksonoomilisel tasemel?</li>
                                    </ul>
                                </div>
    
                                <p>Töö sisu ja ülesandepüstitus lähtuvad isiklikust huvist. Tegemist ei ole tööalase projektiga.</p>
                            </div>
                            <div class="grid-item" id="content-2">
                                <h2>2. Lähteandmed</h2>
                            
                                <p>Töös on kasutatud kolme põhiandmestikku.</p>
                                <ol>
                                    <li><a href="https://lva.keskkonnainfo.ee">Loodusvaatluste andmebaasi</a> kõik sisestatud kirjed. Fail on .csv-formaadis.</li>
                                    <button type="button" class="collapsible"><p>Tabelites on järgmised veerud:</p></button>
                                    <div class="content">
                                        <li>
                                            <ul>
                                                <li><strong>Alg kp</strong>: kujul <em>pp.kk.aaaa</em></li>
                                                <li><strong>Liik</strong>: kujul <em>ladinakeelne nimi (eestikeelne nimi)</em></li>
                                                <li><strong>Arv</strong>: täisarv või tühi kirje</li>
                                                <li><strong>Vaatluskoht</strong>: kujul <em>maakond, omavalitsus, asustusüksus</em></li>
                                                <li><strong>Staatus</strong>: kujul <em>kinnitatud/kinnitamata</em></li>
                                            </ul>
                                        </li>
                                    </div>
    
                                    <li><a href="https://geoportaal.maaamet.ee/est/Ruumiandmed/Haldus-ja-asustusjaotus-p119.html">Maakondade ruumiinfo</a> .shp-formaadis, koordinaatide referentssüsteem EPSG:3301</li>
                                    <li><a href="https://geoportaal.maaamet.ee/est/Ruumiandmed/Haldus-ja-asustusjaotus-p119.html">Asustusjaotuse ruumiinfo</a> .shp-formaadis, koordinaatide referentssüsteem EPSG:3301</li>
                                    
                                    <button type="button" class="collapsible"><p>Tabelites on järgmised veerud:</p></button>
                                    <div class="content">
                                        <li>
                                            <ul>
                                                <li><strong>ANIMI</strong>: asustusüksuse nimi</li>
                                                <li><strong>AKOOD</strong>: asustusüksuse kood (EHAK)</li>
                                                <li><strong>TYYP</strong>: asustusüksuse tüüp (EHAK)
                                                <ul>
                                                    <li>0 - maakond</li>
                                                    <li>1 - vald</li>
                                                    <li>3 - alev</li>
                                                    <li>4 - linn</li>
                                                    <li>5 - omavalitsuse sisene linn</li>
                                                    <li>6 - linnaosa</li>
                                                    <li>7 - alevik</li>
                                                    <li>8 - küla</li>
                                                </ul>
                                                </li>
                                                <li><strong>ONIMI</strong>: omavalitsuse nimi</li>
                                                <li><strong>OKOOD</strong>: omavalitsuse kood (EHAK)</li>
                                                <li><strong>MNIMI</strong>: maakonna nimi</li>
                                                <li><strong>MKOOD</strong>: maakonna kood (EHAK)</li>
                                            </ul>
                                        </li>
                                    </div>
                                </ol>
                                
                                <p><strong>EPSG:3301</strong> – Estonian Coordinate System of 1997</p>
                                <ul>
                                    <li>method: Lambert Conic Conformal (2SP)</li>
                                    <li>Datum: Estonia 1997</li>
                                    <li>Ellipsoid: GRS 1980</li>
                                    <li>Prime Meridian: Greenwich</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div id="section-3" class="section">
                        <button type="button" class="collapsible"><h2>3. Andmetöötlusprotsess</h2></button>
                        <div class="content">
                
                            <button type="button" class="collapsible"><h3>3.1 Andmestike algtöötlus</h3></button>
                                <div id="section3-1" class="content">
                                
                                    <div class="tab">
                                        <button class="tablinks" onclick="openTab(event, 'Tab1')"><h4>Loodusvaatluste tabel</h4></button>
                                        <button class="tablinks" onclick="openTab(event, 'Tab2')"><h4>Asustusüksuste tabel</h4></button>
                                    </div>
                                    
                                    <div id="Tab1" class="tabcontent">
                                        <p>Esmalt töötlesin loodusvaatluste tabeli algkuju, eemaldades kõik ebasobivad kirjed ja teisendades olemasolevad sobivamale kujule:</p>
                                            <ul>
                                            <li>Eemaldan veerud, kus liik tühi on või kuupäeva pole</li>
                                            <li>Asendan veerus "Alg kp" kõik tühikud punktidega <em>(nt 26.11 2023 → 26.11.2023)</em></li>
                                            <li>Eemaldan veerud, kus kuupäeva pole</li>
                                            <li>Eemaldan veerus "Asustusüksus" kõik "...küla küla" kujul olevatest nimedest teise "küla"</li>
                                            </ul>
                
                                            <p>Loon veeru 'Vaatluskoht' põhjal uued veerud 'Maakond', 'Omavalitsus' ja 'Asustusüksus'</p>
                
                                            <ul>
                                            <li>Teisendan loodusvaatluse ja ansustusülksuste tabelites mõlemas tabelis veerud (maakond, omavalitsus, ausustüksus) sõnedeks (igaks juhuks) ja eemaldan tühikud</li>
                                            </ul>
                                            <p>Loon uue csv-faili: loodusvaatlused_toodeldud</p>
                                    </div>
                                    
                                    <div id="Tab2" class="tabcontent">
                                        <p>Loen sisse asustusüksused -SHP formaadist geopandas datafarameiks.</p>
                                        <p>Välja jäi üks isend, kus täpset asustusüksust täpsustud polnud 217 algatbelis. {'Pärnu maakond, Häädemeeste vald'}</p>
                                        <p>Jätan tabelisse ainult need asustusüksused ja omavalitsused, mis on loodusvaatluste tabelis olemas</p>
                                        <p>Loon uue csv-faili: kasutatavad_asustusuksused</p>
                                    </div>
                                </div>
                            
                            <button type="button" class="collapsible"><h3>3.2 Liikide kohta lisainfo leidmine</h3></button>
                                <div id="section3-2" class="content">
                                 
                                    <div class="tab">
                                        <button class="tablinks" onclick="openTab(event, 'Tab3')"><h4>Päringud ladinakeelse nime põhjal</h4></button>
                                        <button class="tablinks" onclick="openTab(event, 'Tab4')"><h4>Ingliskeelsete nimetuste eestikeelsetega asendamine</h4></button>
                                        <button class="tablinks" onclick="openTab(event, 'Tab5')"><h4>Kaitsekategooriate lisamine</h4></button>
                                    </div>
                                    
                                    <div id="Tab3" class="tabcontent">
                
                                        <p>Algkujul tabelis oli olemas ainult ladina- ja eestikeelne liiginimi. Lõin uue tabeli, et leida liikide esinemissagedused ja iga liigi isendi kohta taksonoomilised andmed lisada.</p>
                                        <p>Lõin loodusvaatluste tabeli põhjal uue tabeli, kus olid liigid koos esinemissagedustega <em>(COUNT operatsioon 'Liik' veerul)</em> ning sorteerisin selle kahanevas järjekorras. Lõin liiginime veeru põhjal eraldi veerud ladina- ja eestikeelse nime jaoks.</p>
                                        <p>Kasutasin Maailma elurikkuse andmeportaali (Global Biodiversity Information Facility e. GBIF) API-d <em>(vt. funktsiooni liigi_info_paring)</em> ning tegin iga ladinakeelse liiginime kohta päringu. Salvestasin vahetulemuse csv-faili, et protsessi kordama ei peaks.</p>
                
                                        <button type="button" class="collapsible"><h5>Andmebaasist tagastati iga liigi kohta sõnastik järgmisel kujul infoga (näitena toodud rebane e. päring Vulpes Vulpes):</h5></button>
                                            <div class="content">
                                                <ul>
                                                    <li>'usageKey': 5219243</li>
                                                    <li>'scientificName': 'Vulpes vulpes (Linnaeus, 1758)'</li>
                                                    <li>'canonicalName': 'Vulpes vulpes'</li>
                                                    <li>'rank': 'SPECIES'</li>
                                                    <li>'status': 'ACCEPTED'</li>
                                                    <li>'confidence': 99</li>
                                                    <li>'matchType': 'EXACT'</li>
                                                    <li><span style="color: green;">'kingdom (riik)': 'Animalia'</span></li>
                                                    <li><span style="color: green;">'phylum (hõimkond)': 'Chordata'</span></li>
                                                    <li><span style="color: green;">'order (selts)': 'Carnivora'</span></li>
                                                    <li><span style="color: green;">'family (sugukond)': 'Canidae'</span></li>
                                                    <li><span style="color: green;">'genus (perekond)': 'Vulpes'</span></li>
                                                    <li>'species': 'Vulpes vulpes'</li>
                                                    <li>'kingdomKey': 1</li>
                                                    <li>'phylumKey': 44</li>
                                                    <li>'classKey': 359</li>
                                                    <li>'orderKey': 732</li>
                                                    <li>'familyKey': 9701</li>
                                                    <li>'genusKey': 5219234</li>
                                                    <li>'speciesKey': 5219243</li>
                                                    <li>'synonym': False</li>
                                                    <li><span style="color: green;">'class (klass)': 'Mammalia'</span></li>
                                                </ul>
                                                <em>Rohelisega on märgitud kirjed, mida oma andmetabelis kasutan. Neile on lisatud ka eestikeelsed tõlekd, mille järgmises sammus lisasin.</em>                          
                                            </div>
                
                                        <button type="button" class="collapsible"><h5>Loon uue csv-faili: liikide_arvud_infoga:</h5></button>
                                            <div class="content tableContainer" data-csv-url="andmetabelid/vahetabelid/liikide_arvud_infoga.csv"></div>
                
                                        <button type="button" class="collapsible"><h5>Mõnes reas polnud eestikeelset nimetust:</h5></button>
                                            <div class="content tableContainer" data-csv-url="andmetabelid/probleemide tabelid/eestikeelset_nimetust_pole.csv"></div>
                
                                        <button type="button" class="collapsible"><h5>Mõnes reas oli liiginimi määramata:</h5></button>
                                            <div class="content tableContainer" data-csv-url="andmetabelid/probleemide tabelid/liiginimi_maaramata.csv"></div>
                
                                    </div>
                                    
                                    <div id="Tab4" class="tabcontent">
                
                                        <p>Teisendasin liikide arvude tabelis päringu vastuseks saadud sõnastiku väärtused andmetabeli veergudeks, jättes ebavajalikud välja. Asendasin ingliskeelsed veerunimed eestikeelsetega. Järgmiseks asendasin riigi (4), hõimkonna (10) ja klassi (22)ladinakeelsed nimed eestikeelsetega käsitsi, kuna isendeid oli vähe.</p>
                                        <p>Seltsi (85), sugukonna (190) ja perekonna (393) isenditele eestikeelsete nimetuste leidmiseks kasutasin Wikipedia API-d <em>(vt. funktsioon leia_vastav_wiki_leht)</em>. Tulemuseks oli igale ladinakeelsele liiginimele vastav eestikeelne lehekülje pealkiri või vaste puudumisel ladinakeelne nimi.</p>
                                        <p>Tulemust käsitsi kontrollides ilmnes, et mõnedele seltsi, sugukonna ja perekonna nimetustele ei Wikipeedia API-l vasteid. Need asendasin käsitsi. E-elurikkuse lehelt ka vasteid.</p>
                                        <p>Osadele ei olnud eestikeelseid vasteid olemas, need jäid samale kujule.</p>
                
                                        <button type="button" class="collapsible"><h5>Loon uue csv-faili: liikide_arvud_toodeldud:</h5></button>
                                            <div class="content tableContainer" data-csv-url="andmetabelid/vahetabelid/liikide_arvud_toodeldud.csv"></div>
                
                                    </div>
                
                                    <div id="Tab5" class="tabcontent">
                
                                        <div>
                                            <p>Kasutasin Vikipeedia artiklit <a href="https://et.wikipedia.org/wiki/Looduskaitse_all_olevad_liigid_Eestis">https://et.wikipedia.org/wiki/Looduskaitse_all_olevad_liigid_Eestis</a> (algallikas ... TODO) ning lõin selle põhjal Eestis kaitse all olevate liikide nimekirja.</p>
                                                <ul>
                                                    <li>eestikeelne nimetus</li>
                                                    <li>ladinakeelne nimetus</li>
                                                    <li>rangus (I, II, III)</li>
                                                    <li>täpsustus (liik)</li>
                                                </ul>
                                        </div>
                
                                        <button type="button" class="collapsible"><h5>Loon uue csv-faili: kaitsekategooriad_valmis:</h5></button>
                                            <div class="content tableContainer" data-csv-url="andmetabelid/valmis tabelid/kaitsekategooriad_valmis.csv"></div>
                
                                        <div>
                                            <p>Kaitsekategooriate tabeli liikide arvude tabeliga ühendamisel selgus, et kõik eesti- ja ladinakeelsed liiginimed ei kattu.</p>
                
                                            <p>Kontrollisin e-elurikkuse andmebaasist, millisne on sobiv kujuy ningtegin käsitsi muduatused. Muutsin kaitsekategooriate tabelis ladinakeelsed liiginimed käsitsi ära.</p>
                                            
                                            <p>Enamasti oli liiginimi asendatud alamliigi nimega:</p>
                                            <ul>
                                            <li><em>teder</em>, Tetrao tetrix → Lyrurus tetrix</li>
                                            <li><em>laanepüü</em>, Bonasa bonasia → Tetrastes bonasia</li>
                                            <li><em>väike-kirjurähn</em>, Dendrocopos minor → Dryobates minor</li>
                                            <li><em>arusisalik</em>, Lacerta vivipara → Zootoca vivipara</li>
                                            <li><em>tiigikonn</em>, Rana lessonae → Pelophylax lessonae</li>
                                            </ul>
                                            
                                            <p>Mõned olid kirjavead:</p>
                                            <ul>
                                            <li><em>roo-loorkull</em>, Circus aeroginosus → Circus aeruginosus</li>
                                            <li><em>veelendlane</em>, Myotis daubentoni → Myotis daubentonii</li>
                                            <li><em>must-seenesultan</em>, Oxyporus mannerheimi → Oxyporus mannerheimii</li>
                                            <li><em>karukold</em>, Lycopodium clavatum. → Lycopodium clavatum</li>
                                            <li><em>tamme-kirjurähn</em>, Dendrocopos medius → Dendrocoptes medius</li>
                                            <li><em>väiketiir</em>, Sterna albifrons → Sternula albifrons</li>
                                            <li><em>mets-vareskold</em>, Diphasium complanatum → Diphasiastrum complanatum</li>
                                            <li><em>soopart</em>, Anas acuta (haudeasurkond) → Anas acuta</li>
                                            <li><em>rüüt</em>, Pluvialis aprcaria → Pluvialis apricaria</li>
                                            </ul>
                                        </div>
                
                                        <button type="button" class="collapsible"><h5>Mõnes reas oli ladinakeelne nimetus vale:</h5></button>
                                            <div class="content tableContainer" data-csv-url="andmetabelid/probleemide tabelid/kaitsekategooriad_lk_vale.csv"></div>
                
                                        <div>
                                            <p>Eelmist tabelit vaadeldes selgus, et osades liikide tabelis olid mõned duplikaadid. Eemaldasin tabelist duplikaadid liites korduvate liikide arvud ning lõin uue csv-faili: liikide_arvud_duplikaatideta.</p>
                                            <p>Mõnel isendil oli liigi ja alamliigi nimega kirje:</p>
                                            <ul>
                                            <li><em>kahkjaspunane sõrmkäpp</em>, Dactylorhiza incarnata subsp. incarnata → Dactylorhiza incarnata</li>
                                            <li><em>kuradi-sõrmkäpp</em>, Dactylorhiza maculata subsp. maculata → Dactylorhiza maculata</li>
                                            <li><em>kivitäks</em>, Oenanthe oenanthe subsp. oenanthe → Oenanthe oenanthe</li>
                                            <li><em>harilik käoraamat</em>, Gymnadenia conopsea subsp. conopsea → Gymnadenia conopsea</li>
                                            </ul>
                                            
                                            <p>Osad olid sünonüümsed liiginimed, jätsin tuntuma kuju:</p>
                                            <ul>
                                            <li><em>teder</em>, Tetrao tetrix → Lyrurus tetrix</li>
                                            <li><em>päevapaabusilm</em>, Inachis io → Aglais io</li>
                                            <li><em>sinitihane</em>, Cyanistes caeruleus → Parus caeruleus</li>
                                            <li><em>hallvares</em>, Corvus corone cornix → Corvus cornix</li>
                                            </ul>
                                            
                                            <p>Osad kirjed olid ilma eestikeelse nimetuseta ja eestikeelne vaste puudus täielikult. Neil jätsin ladinakeelse nimetuse:</p>
                                            <ul>
                                            <li>Andrena vaga</li>
                                            <li>Oberea pupillata</li>
                                            <li>Laphria gibbosa</li>
                                            <li>Poecilium alni</li>
                                            <li>Carpocoris (Carpocoris) purpureipennis → Carpocoris purpureipennis</li>
                                            <li>Phiaris dissolutana</li>
                                            <li>Stenostola ferrea</li>
                                            <li>Pachyta lamed</li>
                                            <li>Obrium cantharinum</li>
                                            </ul>
                                        </div>
                
                                        <button type="button" class="collapsible"><h5>Mõnes reas olid duplikaatnimed:</h5></button>
                                            <div class="content tableContainer" data-csv-url="andmetabelid/probleemide tabelid/duplikaatnimed.csv"></div>
                
                                        <button type="button" class="collapsible"><h5>Erinevused ühendamisel:</h5></button>
                                            <div class="content tableContainer" data-csv-url="andmetabelid/probleemide tabelid/erinevused_uhendamisel.csv"></div>
                            
                                    </div>
                                
                                </div>
                            
                            <button type="button" class="collapsible"><h3>3.3 Andmetabelite ühendamine</h3></button>
                                <div id="section3-3" class="content">
                                
                                    <p>Ühendasin loodusvaatluste tabeli liikide arvude tabeliga. Lõin uue csv-faili: loodusvaatlused_liigiinfoga</p>
                                    <p>Lõin veeru Alg kp põhjal uued veerud päev, kuu, aasta. Nende datetime-formaati teisendamisel leidsin vastava nädalapäev ja tegin holiday mooduli abil kindlaks, kas antud kuupäev oli püha või mitte. Lõin uue csv-faili: loodusvaatlused_liigiinfoga_ajaandmetega</p>
                
                                    <p>Loodud tabelis olid järgmised veerud:</p>
                                    <ul>
                                        <li>'eestikeelne nimetus'</li>
                                        <li>'ladinakeelne nimetus'</li>
                                        <li>'arv'</li>
                                        <li><span style="color: green;">'päev'</span></li>
                                        <li><span style="color: green;">'kuu'</span></li>
                                        <li><span style="color: green;">'aasta'</span></li>
                                        <li><span style="color: green;">'nädalapäev'</span></li>
                                        <li><span style="color: green;">'püha'</span></li>
                                        <li><span style="color: green;">'staatus'</span></li>
                                        <li>'riik'</li>
                                        <li>'hõimkond'</li>
                                        <li>'klass'</li>
                                        <li>'selts'</li>
                                        <li>'sugukond'</li>
                                        <li>'perekond'</li>
                                        <li>'rangus'</li>
                                        <li>'täpsustus'</li>
                                        <li><span style="color: green;">'MNIMI'</span></li>
                                        <li><span style="color: green;">'ONIMI'</span></li>
                                        <li><span style="color: green;">ANIMI'</span></li>
                                    </ul>
                                    <em>Rohelisega on märgitud veerud, mis liikide arvude tabelisse lisandusid.</em>
                        
                                </div>
                                
                
                            <button type="button" class="collapsible"><h3>3.4 Geokodeerimine</h3></button>
                                <div id="section3-4" class="content">
                                    <p>Ühendasin asustusüksuste tabeli loodusvaatluste ühendtabeliga, et lisada igale vaatlusele geoandmed. Määran koordinaatsüsteemiks minu andmetabelis kasutusel oleva Eesti süsteemi (EPSG:3301). Lõin uue veeru iga asukoha keskpunkti andmetega ning teisendasin selle koordinaatsüsteemi CRS (WGS84), sest kaartide loomiseks kasutata Folium on vaikimis selles süsteemis.</p>
                
                                <div>
                                    <button type="button" class="collapsible"><h5>Lõin uue csv-faili: loodusvaatlused_koordinaatidega:</h5></button>
                                        <div class="content">
                                            <ul>
                                                <li>'eestikeelne nimetus'</li>
                                                <li>'ladinakeelne nimetus'</li>
                                                <li>'arv'</li>
                                                <li>'päev'</li>
                                                <li>'kuu'</li>
                                                <li>'aasta'</li>
                                                <li>'nädalapäev'</li>
                                                <li>'püha'</li>
                                                <li>'staatus'</li>
                                                <li>'riik'</li>
                                                <li>'hõimkond'</li>
                                                <li>'klass'</li>
                                                <li>'selts'</li>
                                                <li>'sugukond'</li>
                                                <li>'perekond'</li>
                                                <li>'rangus'</li>
                                                <li>'täpsustus'</li>
                                                <li>'MNIMI'</li>
                                                <li>'ONIMI'</li>
                                                <li>'ANIMI'</li>
                                                <li><span style="color: green;">'AKOOD'</span></li>
                                                <li><span style="color: green;">'OKOOD'</span></li>
                                                <li><span style="color: green;">MKOOD'</span></li>
                                                <li><span style="color: green;">TYYP'</span></li>
                                                <li><span style="color: green;">geometry'</span></li>
                                                <li><span style="color: green;">centroid'</span></li>
                                            </ul>
                                            <em>Rohelisega on märgitud veerud, mis lõplikku tabelisse lisandusid.</em>
                                        </div>
                                </div>
                
                                <div>
                                    <p>Selgus, et kõigile ridadele ei leidunud vastavaid koordinaate. Selle põhjuseks on tõenäoliselt erinev nimekuju. Käsitsi kontrollides ilmnes, et mittevastavuse põhjusi oli erinevaid.</p>
                                    <p>Kontrollisin, kas küla nimi on algses asustusüksuste tabelis ja kasutatatavte asustustüksuste tabelis olemas.</p>
                                    <p><em>Süntaks : tabeli_nimi[tabeli_nimi['ANIMI'].str.contains('küla_nimi')]</em></p>
                                        <ul>
                                            <li><strong>Küla nimele oli lisatud küla, mis tuli eemaldada</strong>: Mäeküla küla</li>
                                            <li><strong>Küla nimi ei olnud kasutatatavte asustustüksuste tabelis</strong>: Viisuküla küla, Väljaküla küla, Eesküla küla</li>
                                            <li><strong>Küla nime polnud (tühi väärtus)</strong> rida 213</li>
                                        </ul>
                                    <p>Probleem on ülalpool lahendatud (vt 3.1).</p>
                                </div>
                
                                <button type="button" class="collapsible"><h5>Esines koordinaatideta ridu:</h5></button>
                                    <div class="content tableContainer" data-csv-url="andmetabelid/probleemide tabelid/koordinaatideta_read.csv"></div>
                    
                                <button type="button" class="collapsible"><h5>Valmis tabel</h5></button>
                                    <div class="content tableContainer" data-csv-url="andmetabelid/valmis tabelid/gdf_loodusvaatlused_koordinaatidega.csv"></div>
                    
                                </div>
                            
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div id="section-4" class="section">
                        <button type="button" class="collapsible"><h2>4. Tulemused</h2></button>
                        <div id="section4" class="content">
                
                            <button type="button" class="collapsible"><h3>Baaskaart</h3></button>
                                <div id="section4-0" class="content">
                                    <!--<iframe width="100%" height="300" src="templates/testkaart.html" frameborder="0" allowfullscreen></iframe>-->
                                </div>
                            
                            <button type="button" class="collapsible"><h3>4.1 Loodusvaatluste erinevused aastate lõikes</h3></button>
                                <div id="section4-1" class="content grid-container">
                                    <div class="tab-grid"></div>
                                    <div class="map-grid"><!--<iframe width="100%" height="300" src="templates/testkaart.html" frameborder="0" allowfullscreen></iframe>--></div>
                                </div>
                
                            <button type="button" class="collapsible"><h3>4.2 Loodusvaatluste erinevused periooditi</h3></button>
                                <div id="section4-2" class="content">
                
                                    <div class="tab-grid">
                                        <div class="tab">
                                            <button class="tablinks" onclick="openTab(event, 'Tab6')"><h4>Kuu päevad</h4></button>
                                            <button class="tablinks" onclick="openTab(event, 'Tab7')"><h4>Nädalapäevad</h4></button>
                                            <button class="tablinks" onclick="openTab(event, 'Tab8')"><h4>Pühad</h4></button>
                                            <button class="tablinks" onclick="openTab(event, 'Tab9')"><h4>Kuud</h4></button>
                                        </div>
                                        
                                        <div id="Tab6" class="tabcontent">
                                        </div>
                
                                        <div id="Tab7" class="tabcontent">
                                        </div>
                
                                        <div id="Tab8" class="tabcontent">
                                        </div>
                
                                        <div id="Tab9" class="tabcontent">
                                        </div>
                                    </div>
                                    <div class="map-grid"><!--<iframe width="100%" height="300" src="templates/testkaart.html" frameborder="0" allowfullscreen></iframe>--></div>
                
                                </div>
                
                            <button type="button" class="collapsible"><h3>4.3 Loodusvaatluste erinevused maakonniti</h3></button>
                                <div id="section4-3" class="content">
                
                                    <div class="tab-grid">
                                        <div class="tab">
                                            <button class="tablinks" onclick="openTab(event, 'Tab10')"><h4>Üldine</h4></button>
                                            <button class="tablinks" onclick="openTab(event, 'Tab11')"><h4>Aastate lõikes</h4></button>
                                        </div>
                                        
                                        <div id="Tab10" class="tabcontent">
                                        </div>
                
                                        <div id="Tab11" class="tabcontent">
                                        </div>
                                    </div>
                                    <div class="map-grid"><!--<iframe width="100%" height="300" src="templates/testkaart.html" frameborder="0" allowfullscreen></iframe>--></div>
                
                                </div>
                
                            <button type="button" class="collapsible"><h3>4.4 Liikide erinevused maakonniti</h3></button>
                                <div id="section4-4" class="content">
                                    
                                    <div class="tab-grid">
                                        <div class="tab">
                                            <button class="tablinks" onclick="openTab(event, 'Tab12')"><h4>Üldine</h4></button>
                                            <button class="tablinks" onclick="openTab(event, 'Tab13')"><h4>Maakondlik</h4></button>
                                        </div>
                                        <div id="Tab12" class="tabcontent">
                                        </div>
                                        <div id="Tab13" class="tabcontent">
                                        </div>
                                    </div>
                                    <div class="map-grid"><!--<iframe width="100%" height="300" src="templates/testkaart.html" frameborder="0" allowfullscreen></iframe>--></div>
                                </div>
                
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div id="section-5" class="section">
                        <button type="button" class="collapsible"><h2>5. Kokkuvõte</h2></button>
                        <div id="section5" class="content"></div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div id="section-6" class="section"></div>
                </div>
            </div>
        
        </div>
    
    </main>

    <footer>
        <p>&copy; Marielin Kepp 2024</p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/ae05f791bd.js" crossorigin="anonymous"></script>
    <script type="module" src="modules/projects.js"></script>
</body>
</html>
